<settings>
<category label="Display">
<setting id="english" label="English Titles" type="bool" default="false" />
<setting id="hide_duplicates" label="Hide Movies Already In Library" type="bool" default="false" />
<setting type="lsep" label="Sort Order"/>
<setting id="sort" type="enum" values="Default|A-Z|User Rating|Your Rating|Popularity|Votes|Release Date|Date Added" label="Sort" default="0"/>
<setting id="order" type="enum" values="Ascending|Descending" label="order" enable="!eq(-1,0)" default="0"/>
</category>
<category label="Lab">
<setting id="duplicates" label="Allow Adding Duplicates to Library" type="bool" default="true" />
<setting id="update" label="Update Library after Add Watchlist to Libary" type="bool" default="false" />
<setting type="lsep" label="Update Timer"/>
<setting id="subscription_update" type="bool" label="Enable Update Timer" default="false"/>
<setting id="update_tv" label="TV Shows" type="bool" enable="eq(-1,true)" default="false"/>
<setting id="update_watchlists" label="Subscribed Watchlists" type="bool" enable="eq(-2,true)" default="false"/>
<setting id="subscription_timer" type="enum" values="2h|5h|10h|15h|24h" label="Update Frequency" enable="eq(-3,true)" default="2"/>
<setting id="service_time" type="text" label="Service Time" default="2000-01-01 00:00:00" visible="false"/>
</category>
</settings>